p {
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: calc(1.375rem + 0.75vw);
  color: #6a4029;
}

.background {
  font-family: "Poppins";
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 7.5vw;
  border-bottom: 1px solid #9f9f9f;
}

.content {
  width: 100%;
  height: 100%;
}
