* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-home {
  width: 400px;
  height: 230px;
  background: #ffffff;
  border: 2px solid #6a4029;
  border-radius: 10px;
}

.wrapper-title {
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.name {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.location {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.wrapper-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rating {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-right: 5px;
  color: #0b132a;
}

.icon-star {
  width: 20px;
  height: 20px;
}

.photo-profile {
  margin-right: 10%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.wrapper-coment {
  padding: 10px;
}

.coment {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}
