p {
  margin: 0;
}

.background {
  font-family: 'Poppins';
  background: url('../../assets/images/background-history.jpg');
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 11.5vh);
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 7.5vw;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  text-align: center;
  font-family: 'Rubik';
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

h1 {
  font-weight: 700;
}

.action {
  font-weight: 700;
  color: #fff;
  text-align: end;
  margin-bottom: 1rem;
}

.action:hover {
  cursor: pointer;
}

.no-data {
  text-align: center;
}

a {
  color: #fff;
}

.history-tile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(16, 1fr);
  gap: 1rem;
  color: #000;
}

@media (min-width: 576px) {
  .history-tile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .history-tile {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.card-container {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 2rem;
  margin: auto;
  flex-wrap: wrap;
}

.pagination-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
}

/* MODAL */
.modal-text {
  font-family: 'Rubik';
  font-weight: 500;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.modal-footer {
  position: relative;
}

.modal-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.modal-btn .btn-light {
  background-color: rgba(106, 64, 41, 1);
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  position: absolute;
  bottom: 0%;
  left: 10%;
}

.modal-btn .btn-warning {
  height: 50px;
  width: 150px;
  border-radius: 50px;
  position: absolute;
  bottom: 0%;
  right: 10%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 146, 19);
  font-family: Rubik;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
