@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.wrapper-content {
  height: 100vh;
  background-image: url("../../assets/images/background-forgotpassword.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 100px 0;
}

.title-forgot {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  /* line-height: 96px; */
  color: #ffffff;
  margin: 0;
  text-shadow: 0 0 10px black;
}

.caption {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #ffffff;
  text-shadow: 0 0 10px black;
}

.wrapper-input {
  margin: 50px 0;
}

.wrapper-resend {
  margin: 50px 0;
}

.input-email {
  width: 850px;
  height: 70px;
  background: #ffffff;
  border-radius: 20px;
  margin-right: 25px;
  border: none;
}

.input-email::-webkit-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  /* padding: 0 40px; */
  font-size: 20px;
  line-height: 45px;
  color: #9f9f9f;
}

input[typeof="text"] {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  padding: 0 40px;
  font-size: 20px;
  line-height: 45px;
  color: #9f9f9f;
  border: none;
  outline: none;
}

.btn {
  width: 253px;
  height: 70px;
}

.btn-send {
  background: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  border-radius: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: #6a4029;
}

.wrapper-resend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-resend-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 10px black;
}

.btn-resend-link {
  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.46);
  border-radius: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
}

.minute {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(255, 255, 255);
  color: red;
  font-family: Rubik;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 768px) {
  .content {
    margin-top: 110px;
  }

  .input-email {
    width: 500px !important;
  }

  .btn {
    width: 170px;
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    margin: 50px 0;
  }
  .title-forgot {
    font-size: 40px;
  }

  .caption {
    font-size: 20px;
    text-shadow: 0 0 10px black;
  }

  .input-email {
    height: 80px;
  }

  input[typeof="text"] {
    padding: 0 30px;
    font-size: 20px;
  }

  .input-email::-webkit-input-placeholder {
    font-size: 20px;
  }

  .wrapper-resend {
    margin: 0;
  }

  .input-email {
    width: 600px;
    height: 90px;
  }

  .btn {
    width: 200px;
    height: 80px;
  }

  .btn-send,
  .btn-resend-link {
    font-size: 20px;
  }
}
