@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.category-breadcrumb {
  color: #4f5665;
  margin-bottom: 0;
  font-family: Rubik;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumb {
  color: #6a4029;
  font-family: Rubik;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}

.isLoading {
  color: #4f5665;
  margin-bottom: 0;
  font-family: Rubik;
  font-weight: 700;
  font-size: 16px;
}

.wrapper-image {
  border: 1px solid black;
  cursor: pointer;
  height: 90%;
  width: 100%;
  /* justify-content: center;
  align-items: center;
  display: flex; */
}

.image-product {
  width: 100%;
  height: 100%;
}

.wrapper-form {
  /* height: 500px; */
  padding-right: 180px;
}

.wrapper-icon-delete {
  position: absolute;
  top: 10px;
  right: 60px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #ffba33;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-delete {
  width: 35px;
  height: 35px;
  /* border: 1px solid black; */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.icon-delete2 {
  color: #6a4029;
}

.wrapper-input {
  border: none;
  border-bottom: 1px solid #9f9f9f;
  width: 100%;
  padding: 10px;
  padding-left: 0;
}

.input-name {
  border: none;
  font-family: Poppins;
  font-weight: 900;
  font-size: 50px;
  color: #000;
  width: 100%;
}

.input-name::-webkit-input-placeholder {
  font-size: 50px;
  font-family: Poppins;
  font-weight: 900;
  color: #000;
}

.input-price {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 60px; */
  width: 100%;
  color: #000;
  border: none;
}

.input-price::placeholder {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  color: #000;
}

.input-description {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  border: none;
  width: 100%;
  /* line-height: 34px; */
}

.input-description::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  /* line-height: 34px; */
}

.input-name:focus,
.input-price:focus,
.input-description:focus {
  outline: none;
}

.name-product {
  font-family: Poppins;
  font-weight: 900;
  font-size: 50px;
  line-height: 98px;
  margin: 0;
}

.price-product {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 12px;
}

.description-product {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin: 0;
  text-align: justify;
}

.wrapper-dropdown {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.select {
  outline: none;
  width: 100%;
  border: none;
}

.select::selection {
  color: #9f9f9f;
}

.counter {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #9f9f9f;
  width: 100%;
  /* padding: 15px; */
  justify-content: space-between;
  align-items: center;
}

.count {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 139.8%;
}

.minus,
.plus {
  cursor: pointer;
  padding: 13px;
  color: #9f9f9f;
  font-weight: 900;
  font-family: Poppins;
}

.icon-minus,
.icon-plus {
  margin: 0;
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
}

.btn-addCart {
  background-color: #ffba33;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title-btn-addCart {
  margin: 0;
  color: #6a4029;
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
}

.title-date {
  margin: 0;
  color: #000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  display: block;
}

.wrapper-btn-editProduct {
  padding-right: 180px;
}

.btn-editProduct {
  background-color: #6a4029;
  margin: 0;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title-btn-editProduct {
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
}

.btn-addCart:hover,
.btn-editProduct:hover {
  border: 1px solid black;
}

/* TOAST */

.toast2 {
  display: none;
}

.toast2-success {
  display: inline-block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(255, 255, 255);
  color: green;
  font-family: Rubik;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
