.main {
  width: 100%;
  height: 11.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo link button";
}

.logo {
  grid-area: logo;
  width: 70%;
  height: 100%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-areas: "icon text";
}

.icon {
  grid-area: icon;
  width: 100%;
  height: 100%;
  position: relative;
}

.icon img {
  width: 1.953125vw;
  height: 4.423592493297587vh;
  object-fit: cover;
  position: absolute;
  top: 25%;
}

.title-brand {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.text {
  grid-area: text;
  width: 100%;
  height: 100%;
}

.text p {
  font-family: "Rubik";
  font-weight: 700;
  color: rgba(11, 19, 42, 1);
  padding-top: 9%;
  font-size: 1.3020833333333333vw;
}

.link {
  grid-area: link;
}

a:hover {
  color: rgba(106, 64, 41, 1) !important;
  font-weight: 700;
}

.nav-link .active {
  font-weight: 700;
}

.nav-link {
  color: rgba(79, 86, 101, 1);
  font-family: "Rubik";
  font-weight: 400;
  margin-right: 20px;
}

.navbar {
  padding: 10px 40px;
}

.nav-item {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #4f5665;
}

.img-logo {
  margin-right: 10px;
}

.navbar-nav {
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-login {
  width: 150px;
  height: 45px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-signup {
  width: 150px;
  height: 45px;
  background: #ffba33;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #6a4029;
  text-decoration: none;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-signup:hover,
.btn-login:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Komponen Login */
.info {
  width: 500px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: relative;
}
/*  */
.icon-search {
  position: absolute;
  top: 8px;
  left: 10px;
}

.search > input {
  border-radius: 50px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 4.557640750670242vh;
  width: 15.961932650073205vw;
  background-color: rgba(239, 238, 238, 1);
}

.search input::placeholder {
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  /* padding-left: 30px; */
}

.search input:focus {
  border: none;
  text-align: center;
}

.chat {
  /* width: 45%; */
  height: 45%;
  position: relative;
}

.chat img {
  width: 40px;
  /* position: relative; */
  /* bottom: 0%;
  right: 0%; */
}

.chat .notif {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(106, 64, 41, 1);
  top: -17px;
  left: -10px;
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: "Rubik";
  padding-top: 5%;
  font-weight: 700;
}

.profilepic {
  position: relative;
}

.img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Komponen Login */

@media only screen and (max-width: 425px) {
  .info {
    width: 100%;
  }

  .search {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .info {
    width: 100%;
  }

  .search {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .info {
    width: 65%;
  }
}
