.main {
  width: 100%;
  height: 11.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo link button";
}

.logo {
  grid-area: logo;
  width: 70%;
  height: 100%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-areas: "icon text";
}

.icon {
  grid-area: icon;
  width: 100%;
  height: 100%;
  position: relative;
}

.icon img {
  width: 1.953125vw;
  height: 4.423592493297587vh;
  object-fit: cover;
  position: absolute;
  top: 25%;
}

.text {
  grid-area: text;
  width: 100%;
  height: 100%;
}

.text p {
  font-family: "Rubik";
  font-weight: 700;
  color: rgba(11, 19, 42, 1);
  padding-top: 9%;
  font-size: 1.3020833333333333vw;
}

.link {
  grid-area: link;
}

a:hover {
  color: rgba(106, 64, 41, 1) !important;
  font-weight: 700;
}

.nav-link .active {
  font-weight: 700;
}

.nav-link {
  color: rgba(79, 86, 101, 1);
  font-family: "Rubik";
  font-weight: 400;
}

.navbar-nav {
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.info {
  grid-area: button;
  margin-left: 5%;
  margin-right: 15%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: "search chat profilepic";
  position: relative;
}

.search {
  grid-area: search;
  position: relative;
}

.search input {
  border-radius: 50px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 4.557640750670242vh;
  width: 11.588541666666666vw;
  position: absolute;
  left: 6%;
  top: 30%;
  background-color: rgba(239, 238, 238, 1);
}

.search input::placeholder {
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
}

.search input:focus {
  border: none;
  text-align: center;
}

.chat {
  width: 45%;
  height: 45%;
  grid-area: chat;
  position: absolute;
  top: 25%;
  right: 0%;
}

.chat .notif {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(106, 64, 41, 1);
  top: 0%;
  left: 0%;
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: "Rubik";
  padding-top: 5%;
  font-weight: 700;
}

.chat img {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.profilepic {
  grid-area: profilepic;
  position: relative;
}

.img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  top: 20%;
}

.img-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
