@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
.footer {
  background-color: #f8f8f8;
  width: 100%;
  position: absolute;
  bottom: 0%;
}

.row-content {
  height: 50vh;
  padding-top: 8%;
  margin-left: 0%;
  /* background-color: #ffba33; */
}

.body-footer {
  padding-top: 5%;
}

.img-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.title-footer {
  display: flex;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.row {
  width: 90vw;
  position: absolute;
  left: 5%;
}

.body-footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.tittle {
  position: absolute;
  left: 0%;
  width: 30%;
}

.product {
  padding-left: 13%;
}

.engage {
  /* padding-left: 13%; */
  width: max-content;
  position: absolute;
  right: 0%;
}

.icon-footer {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.wrapper-icon {
  width: 35px;
  height: 35px;
  background-color: #ffba33;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.tag-footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
}

.title-col-right {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.body-col-right {
  list-style: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

@media only screen and (max-width: 425px) {
  .row {
    width: 90vw;
    position: relative;
  }

  .tittle {
    position: relative;
    width: auto;
  }

  .engage {
    position: relative;
  }

  .title-footer {
    width: 300px;
  }

  .col-two {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .col-three {
    padding: 0;
  }

  .icon-footer {
    justify-content: center;
  }

  .wrapper-icon {
    margin-right: 20px;
  }

  .row-content {
    height: auto;
  }

  .footer {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .col-two {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
}
